/*
* Custom CSS.
*/
textarea {
  resize: vertical;
}



/*
* Accordion.
*/
.accordion.active .accordion-icon {
  background: #00EBEB;
  color: #354F52;
  transform: rotate(90deg);
  box-shadow: none;
}



/*
* Sidebar (pullout).
*/
@media screen and (max-width: 991px){
  .sidebar-window-scroll {
    height: calc(100vh - 260px);
    overflow: auto;
  }
  body.sidebar-filter-open .fp-overlay {
    display: block;
  }
}



/*
* No scroll / Overlay.
*/
body.sidebar-filter-open,
body.no-scroll {
  height: 100%;
  height: 100vh;
  overflow: hidden;
}
.fp-overlay {
  background: rgba(0,0,0, .1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
}
body.no-scroll .fp-overlay {
  display: block;
}



/*
* Utility.
*/
@media screen and (min-width: 479px){
  .hide-sm-up {
    display: none;
  }
}
@media screen and (min-width: 768px){
  .hide-md-up {
    display: none;
  }
}
@media screen and (min-width: 992px){
  .hide-lg-up {
    display: none;
  }
}
@media screen and (min-width: 1248px){
  .hide-xl-up {
    display: none;
  }
}
@media screen and (min-width: 1441px){
  .hide-xxl-up {
    display: none;
  }
}
@media screen and (min-width: 1921px){
  .hide-xxxl-up {
    display: none;
  }
}

.vis-hidden {
  display: block !important;/*Needed to hide element in WF but show in browser...*/
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}



/*
* Loader.
*/
.loader {
  display: none;
  background: rgba(0,0,0, .3);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
}
.spin {
  margin: 15px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  animation: loader 1s linear infinite
}
.spin::before,
.spin::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 4px solid #FFF;
  animation: loader2 2s linear infinite;
}
.spin::after{
  border-color: #00ebeb;
  animation: loader2 2s linear infinite, loader 0.5s linear infinite reverse;
  inset: 6px;
}
@keyframes loader {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
@keyframes loader2 {
  0% {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25% {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}



/*
* Weglot widget.
*/
.wg-list.country-selector ul {
  display: flex;
}
.wg-list.country-selector .wg-flags {
  margin: 0;
}
.wg-list.country-selector .wgcurrent {
  vertical-align: middle;
  font-weight: 500;
}
.wg-list.country-selector .wg-flags a {
  color: #444;
  padding: 0 8px 4px;
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 0.1s;
  align-items: center;
}
.wg-list.country-selector .wg-flags a:hover {
  text-decoration: none;
  color: #000;
  opacity: 0.8;
}
.wg-list.country-selector .wgcurrent a {
  text-decoration: none;
  color: #000;
  align-items: center;
  opacity: 1;
  cursor: default;
  border-bottom: 2px solid;
}
.wg-flags a img.wg-flag {
  margin-right: 7px;
  width: 20px;
  height: 16px;
}


