/*
* Custom CSS.
*/
.vis-hidden {
  display: block !important;/*Needed to hide element in WF but show in browser...*/
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}



/*
* Select2
*/
.select2-container {
  width: 100% !important;
}
.select2-container .select2-selection {
  background: #f6feff;
  border: 1px solid #d5eff1;
  border-radius: 4px;
  padding: 5px 16px;
  height: auto;
  overflow: hidden;
  min-height: 40px;
  color: #202d2f;
  font-size: 14px;
  line-height: 1.6em;
}
.select2-container .select2-selection.large {
  min-height: 50px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.9em;
}
.select2-container .select2-selection.icon {
  padding-left: 40px !important;
}
.select2-container .select2-selection:focus,
.select2-container .select2-selection:hover {
  border-color: #00ebeb;
}
.select2-container .select2-selection .select2-selection__placeholder {
  color: #63888c;
}
.select2-container .select2-selection__rendered li {
  background: #f1f1f1;
  border-color: #c6c6c6;
  float: left;
}
.select2-container .select2-results__option--highlighted.select2-results__option--selectable {
  background: #bcf1f1;
  color: #575757;
}
.select2-container .select2-selection .select2-selection__clear {
  height: 100%;
  position: absolute;
  right: 20px;
  top: 0;
  padding: 10px;
  margin: 0;
  font-weight: 500;
  font-size: 1.4em;
  color: #888;
}
.select2-container .select2-selection .select2-selection__clear:hover {
  color: #444;
}
.select2-container .select2-search--dropdown .select2-search__field {
  padding: 8px;
  color: #666;
}
.select2-container .select2-search--inline {
  float: left;
}
.select2-container.select2-container--open .select2-dropdown--below {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}
.select2-container .select2-results > .select2-results__options {
  max-height: 290px;
}
.select2-container .select2-results__option {
  font-size: 14px;
  margin: 0;
  padding: 3px 6px;
}
.select2-container .select2-results__option--selected {
  background: #eee;
}
/* single select: */
.select2-container .select2-selection--single {
  padding-bottom: 4px;  
}
.select2-container .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
  padding-left: 0;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: 100%;
}



/*
* Accordion.
*/
.accordion.active .accordion-icon {
  background: #00EBEB;
  color: #354F52;
  transform: rotate(90deg);
  box-shadow: none;
}



/*
* Sidebar (pullout).
*/
@media screen and (max-width: 991px){
  .sidebar-window-scroll {
    height: calc(100vh - 260px);
    overflow: auto;
  }
  body.sidebar-filter-open .fp-overlay {
    display: block;
  }
}



/*
* No scroll / Overlay.
*/
body.sidebar-filter-open,
body.no-scroll {
  height: 100%;
  height: 100vh;
  overflow: hidden;
}
.fp-overlay {
  background: rgba(0,0,0, .1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
}
body.no-scroll .fp-overlay {
  display: block;
}



/*
* Utility.
*/
@media screen and (min-width: 479px){
  .hide-sm-up {
    display: none;
  }
}
@media screen and (min-width: 768px){
  .hide-md-up {
    display: none;
  }
}
@media screen and (min-width: 992px){
  .hide-lg-up {
    display: none;
  }
}
@media screen and (min-width: 1248px){
  .hide-xl-up {
    display: none;
  }
}
@media screen and (min-width: 1441px){
  .hide-xxl-up {
    display: none;
  }
}
@media screen and (min-width: 1921px){
  .hide-xxxl-up {
    display: none;
  }
}



/*
* Loader.
*/
.loader {
  display: none;
  background: rgba(0,0,0, .3);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
}
.spin {
  margin: 15px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  animation: loader 1s linear infinite
}
.spin::before,
.spin::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 4px solid #FFF;
  animation: loader2 2s linear infinite;
}
.spin::after{
  border-color: #00ebeb;
  animation: loader2 2s linear infinite, loader 0.5s linear infinite reverse;
  inset: 6px;
}
@keyframes loader {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
@keyframes loader2 {
  0% {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25% {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}



/*
* Weglot widget.
*/
.wg-list.country-selector ul {
  display: flex;
}
.wg-list.country-selector .wg-flags {
  margin: 0;
}
.wg-list.country-selector .wgcurrent {
  vertical-align: middle;
  font-weight: 500;
}
.wg-list.country-selector .wg-flags a {
  color: #444;
  padding: 0 8px 4px;
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 0.1s;
  align-items: center;
}
.wg-list.country-selector .wg-flags a:hover {
  text-decoration: none;
  color: #000;
  opacity: 0.8;
}
.wg-list.country-selector .wgcurrent a {
  text-decoration: none;
  color: #000;
  align-items: center;
  opacity: 1;
  cursor: default;
  border-bottom: 2px solid;
}
.wg-flags a img.wg-flag {
  margin-right: 7px;
  width: 20px;
  height: 16px;
}


